* {
    box-sizing: border-box;

}

html {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden !important;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    /*height: 10vh;*/
    overflow: hidden !important;
}


@font-face {
    font-family: circular;
    src: url("fonts/circular-std-medium-500.ttf");
}

